<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.account.mapper.AccountMapper">

    <resultMap id="BaseResultMap" type="com.ssm.account.bean.Account">
        <result column="account_id" jdbcType="INTEGER" property="accountId"/>
        <result column="recommender_id" jdbcType="INTEGER" property="recommenderId"/>
        <result column="login_name" jdbcType="VARCHAR" property="loginName"/>
        <result column="login_passwd" jdbcType="VARCHAR" property="loginPasswd"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="pause_date" jdbcType="TIMESTAMP" property="pauseDate"/>
        <result column="close_date" jdbcType="TIMESTAMP" property="closeDate"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="idcard_no" jdbcType="CHAR" property="idcardNo"/>
        <result column="birthdate" jdbcType="TIMESTAMP" property="birthdate"/>
        <result column="gender" jdbcType="CHAR" property="gender"/>
        <result column="occupation" jdbcType="VARCHAR" property="occupation"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="mailaddress" jdbcType="VARCHAR" property="mailaddress"/>
        <result column="zipcode" jdbcType="CHAR" property="zipcode"/>
        <result column="qq" jdbcType="VARCHAR" property="qq"/>
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
        <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp"/>
    </resultMap>


    <insert id="addAccount" parameterType="com.ssm.account.bean.Account">
        insert into account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accountId != null">
                account_id,
            </if>
            <if test="recommenderId != null">
                recommender_id,
            </if>
            <if test="loginName != null">
                login_name,
            </if>
            <if test="loginPasswd != null">
                login_passwd,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="pauseDate != null">
                pause_date,
            </if>
            <if test="closeDate != null">
                close_date,
            </if>
            <if test="realName != null">
                real_name,
            </if>
            <if test="idcardNo != null">
                idcard_no,
            </if>
            <if test="birthdate != null">
                birthdate,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="occupation != null">
                occupation,
            </if>
            <if test="telephone != null">
                telephone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="mailaddress != null">
                mailaddress,
            </if>
            <if test="zipcode != null">
                zipcode,
            </if>
            <if test="qq != null">
                qq,
            </if>
            <if test="lastLoginTime != null">
                last_login_time,
            </if>
            <if test="lastLoginIp != null">
                last_login_ip,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="accountId != null">
                #{accountId,jdbcType=INTEGER},
            </if>
            <if test="recommenderId != null">
                #{recommenderId,jdbcType=INTEGER},
            </if>
            <if test="loginName != null">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="loginPasswd != null">
                #{loginPasswd,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=CHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="pauseDate != null">
                #{pauseDate,jdbcType=TIMESTAMP},
            </if>
            <if test="closeDate != null">
                #{closeDate,jdbcType=TIMESTAMP},
            </if>
            <if test="realName != null">
                #{realName,jdbcType=VARCHAR},
            </if>
            <if test="idcardNo != null">
                #{idcardNo,jdbcType=CHAR},
            </if>
            <if test="birthdate != null">
                #{birthdate,jdbcType=TIMESTAMP},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=CHAR},
            </if>
            <if test="occupation != null">
                #{occupation,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="mailaddress != null">
                #{mailaddress,jdbcType=VARCHAR},
            </if>
            <if test="zipcode != null">
                #{zipcode,jdbcType=CHAR},
            </if>
            <if test="qq != null">
                #{qq,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTime != null">
                #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastLoginIp != null">
                #{lastLoginIp,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>


    <update id="editAccount">
        UPDATE account
        <set>
            <if test=" realName!=null and realName!='' ">
                real_name = #{realName},
            </if>
            <if test=" telephone!=null and telephone!='' ">
                telephone = #{telephone},
            </if>
            <if test=" recommenderId!=null and recommenderId!='' ">
                recommender_id = #{recommenderId},
            </if>
            <if test=" email!=null and email!='' ">
                email = #{email},
            </if>
            <if test=" status!=null and status!='' ">
                status = #{status}
            </if>
            <if test=" occupation!=null and occupation!='' ">
                occupation = #{occupation},
            </if>
            <if test=" gender!=null and gender!='' ">
                gender = #{gender},
            </if>
            <if test=" mailaddress!=null and mailaddress!='' ">
                mailaddress = #{mailaddress},
            </if>
            <if test=" zipcode!=null and zipcode!='' ">
                zipcode = #{zipcode},
            </if>
            <if test=" qq!=null and qq!='' ">
                qq = #{qq},
            </if>
        </set>
        WHERE account_id=#{accountId}
    </update>


    <delete id="deleteAccount">
        DELETE FROM account
        WHERE account_id = #{accountId}
    </delete>


    <select id="advanceSearchAccount" resultMap="BaseResultMap">
        SELECT *
        FROM account
        <where>
            <if test=" accountId!=null ">
                account_id = #{accountId}
            </if>
            <if test=" recommenderId!=null ">
                recommenderId = #{recommenderId}
            </if>
            <if test=" loginName!=null and loginName!='' ">
                AND login_name like '%${loginName}%'
            </if>
            <if test=" status!=null and status!='' ">
                AND status = #{status}
            </if>
            <if test=" realName!=null and realName!='' ">
                AND real_name like '%${realName}%'
            </if>
            <if test=" idcardNo!=null and idcardNo!='' ">
                AND idcard_no like '%${idcardNo}%'
            </if>
        </where>
    </select>


</mapper>