<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.module.mapper.ModuleMapper">

    <resultMap id="BaseResultMap" type="com.ssm.module.bean.Module">
        <result column="module_id" jdbcType="INTEGER" property="moduleId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <insert id="insert" parameterType="com.ssm.module.bean.Module">
        INSERT INTO module_info (module_id, name)
        VALUES (#{moduleId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.ssm.module.bean.Module">
        insert into module_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="moduleId != null">
                module_id,
            </if>
            <if test="name != null">
                name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="moduleId != null">
                #{moduleId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="findAllModules" resultMap="BaseResultMap">
        SELECT *
        FROM module_info
    </select>

    <select id="findModulesByRoleId" resultMap="BaseResultMap">
        SELECT *
        FROM module_info m LEFT JOIN role_module rm ON m.module_id = rm.module_id
        WHERE rm.role_id = #{roleId,jdbcType=INTEGER}
    </select>

    <select id="findModulesByModuleId" resultMap="BaseResultMap">
        SELECT *
        FROM module_info
        WHERE module_id = #{moduleId}
    </select>

    <select id="findModulesByRoleIdAndModuleId" resultMap="BaseResultMap">
        SELECT m.*
        FROM module_info m LEFT JOIN role_module rm ON m.module_id = rm.module_id
        WHERE rm.role_id = #{arg0} AND m.module_id = #{arg1}
    </select>
</mapper>