<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.module.mapper.ModuleMapper">

    <resultMap id="BaseResultMap" type="com.ssm.module.bean.Module">
        <result column="module_id" jdbcType="INTEGER" property="moduleId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>


    <select id="findAllModules" resultMap="BaseResultMap">
        SELECT *
        FROM module_info
    </select>


    <select id="findModulesByAdminId" resultMap="BaseResultMap">
        SELECT *
        FROM module_info m
            LEFT JOIN role_module rm ON m.module_id = rm.module_id
            LEFT JOIN admin_role ar ON ar.role_id = rm.role_id
        WHERE ar.admin_id = #{adminId}
    </select>


    <select id="findModulesByRoleId" resultMap="BaseResultMap">
        SELECT *
        FROM module_info m
            LEFT JOIN role_module rm ON m.module_id = rm.module_id
        WHERE rm.role_id = #{roleId}
    </select>


    <select id="findModulesByModuleId" resultMap="BaseResultMap">
        SELECT *
        FROM module_info
        WHERE module_id = #{moduleId}
    </select>


    <select id="findModulesByRoleIdAndModuleId" resultMap="BaseResultMap">
        SELECT m.*
        FROM module_info m
            LEFT JOIN role_module rm ON m.module_id = rm.module_id
        WHERE rm.role_id = #{arg0} AND m.module_id = #{arg1}
    </select>


</mapper>